{% extends '_templates/base.njk' %}

{% set relative_path = "../" %}

{% block page_title %}{{ capital.Name }}{% endblock %}

{% block page_description %}{{ Name }} , {{Genre}} at {{ Venue }}{% endblock %}

{% block content %}
  <article class="container">
    <div class="row">
          <div class="col-sm-12">
          <h2>{{ Name }}</h2>
          <h3> {{Genre}} at {{Venue}}</h3>
          <p>{{ blurb | safe }}</p>
      </div>
      <div class="col-sm-12">
          <img src="../img/{{ image1 }}" alt="" class="img-fluid mb-4" width="367">
          <img src="../img/{{ image2 }}" alt="" class="img-fluid mb-4" width="367">
          <img src="../img/{{ image3 }}" alt="" class="img-fluid mb-4" width="367">
      </div>
    </div>
  </article>
{% endblock %}
