{% extends '_templates/base.njk' %}

{% block page_title %}ICJ Final Project 2024{% endblock %}

{% block page_description %}The index search description for this page goes here.{% endblock %}

{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=10, user-scalable=yes">
<div class="container">
  <h1 class="center", font-family="Garamond", font-size="200px">ALE DE LA FUENTE</h1>
  <p>Ale de la Fuente is a journalism and media student at The University of Texas at Austin. Currently, she is a photographer in practice and works as a Senior Photographer for The Daily Texan, photographing breaking news, local events, and music.</p>
  <div class="row">
    {% for capital in capitals.capitals %}
      <div class="col">
                <h2 class="center"><a href="capitals/{{ capital.slug }}.html">{{ capital.Name }}</a></h2>                 
                <img src="img/{{capital.image1}}" alt="{{capital.alt1}}" width="350"/>
      </div>
    {% endfor %}
  </div>
            <h1 class="ContactForm">Contact Me!</h1>
            <form action="/login" method="POST">
                <br/>
                <label for="name" class="ContactInfo">Name</label>
                <br/>
                <textarea class="form-control" id="name" rows="1"></textarea>
                <br/>
                <label for="phone" class="ContactInfo">Phone</label>
                <br/>
                <textarea class="form-control" id="phone" rows="1"></textarea>
                <br/>
                <label for="email" class="ContactInfo">Email</label>
                <br/>
                <textarea class="form-control" id="email" rows="1"></textarea>
                <br/>
                <label for="message" class="ContactInfo">Message</label>
                <br/>
                <textarea class="form-control" id="message" rows="1"></textarea>
                <br/>
                <br/>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </form>
</div>
{% endblock %}